@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme{
    --color-white:#fff;
    --radius-sectionV2_xl:20px;
    --aspect-sectionV2-box: 0.7

}

.sectionV2-container{
    @apply flex cursor-pointer  py-[10px] h-[400px] w-full 
}


.sectionV2-item-box{
    @apply flex h-full  flex-col  p-[10px] aspect-sectionV2-box bg-white
}

.sectionV2-first-item{
    @apply rounded-r-sectionV2_xl
}

.sectionV2-last-item{
    @apply rounded-l-sectionV2_xl
}

.sectionV2-more-box{
    @apply flex aspect-sectionV2-box text-white justify-center items-center
}